body {
	height: 100%;
}

.space-60 { height: 60px; }
.space-30 { height: 30px; }

.item-container {
	background-color: rgba(66,139,202, 0.9);
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	color: #fff;
}

#home span {
	font-size: 8em;
}

.social span {
	font-size: 3em;
}

.header {
	font-size: 50px;
}

a, a:hover {
	color: #fff;
}

.contact-method span {
	font-size: 3em;
}

.contact-method p {
	font-size: 1.5em;
}

.social {
	min-height: 201px;
}

.service-item span {
	font-size: 5em;
}

p {
	color: #ddd;
}

#content {
	position: relative;
	z-index: 100;
}

.bg {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#bg-sky {
	z-index: -11;
	background-color: #6ed3ff;
}

#bg-clouds {
	z-index: -10;
	background:url('../img/clouds.png') no-repeat center top;
}

#bg-mountains-far {
	z-index: -9;
	background:url('../img/mountains-far.png') no-repeat center top;
}

#bg-mountains-near {
	z-index: -8;
	background:url('../img/mountains-near.png') no-repeat center top;
}

#bg-back {
	z-index: -7;
	background:url('../img/back.png') no-repeat center top;
}

#bg-middle {
	z-index: -6;
	background:url('../img/middle.png') no-repeat center top;
}

#bg-front {
	z-index: -5;
	background:url('../img/front.png') no-repeat center top;
}

@media (max-width: 991px) {

  .contact {
      margin-bottom: 60px;
  }

}